.ansible/
ansible.log
*.retry
**/__pycache__/
*.pyc
*.pyo
*.pyd
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
*~
*.swp
.netrwhist
.env.decrypted
secrets.txt
*.age
key.txt
acme.json
apply_sudo.yml