extends: default

rules:

  comments:
    min-spaces-from-content: 1
  comments-indentation: false

  line-length:
    max: 120 # prettier no rompe URLs, env values ni labels largos

  document-start: disable

  truthy:
    allowed-values: ["true", "false", "on", "off"]

  braces:
    max-spaces-inside: 1 # permite "{ ENC[...] }" estilo SOPS sin marcar error

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
ignore: |
  .terraform/
  **/.terraform/
  secrets.yml
  users.yml
  pnpm-lock.yaml
