[defaults]
# Ruta al inventario
inventory = ./inventory
# Usuario por defecto (ajusta si es distinto a erickcastillo)
remote_user = erickcastillo
# Ruta a tu llave SSH para no usar --key-file
private_key_file = ~/.ssh/ansible
# Silenciar advertencias de Python
interpreter_python = auto_silent
# Evitar que pida confirmación de host key (opcional para homelabs)
# host_key_checking = False

[ssh_connection]
# Acelera las conexiones SSH
pipelining = True
